﻿@{
    ViewBag.Title = "Index";
}

<h2>Listado de Campañas</h2>

<div id="dgCampanhas"></div>

@section scripts{
    <script src="~/app/campanha.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval-ajax")
}