﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Gestion de Kioskos</h1>
    <p class="lead">Gestion de Banners para los Kioskos de CENCOSUD</p>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/jquery.bootpag.min.js"></script>
}
