﻿@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Listado de Banners</h2>

<div id="dgBanners"></div>

@section scripts{
    <script src="~/app/banner.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval-ajax")
}